{% extends 'base.html' %}

{% load static %}
{% block sachin %}

<div class="row py-4">
<div class="col-sm-12 " style="background:#ffffff;">
<div class="row">
    <div class="col-sm-4 pt-5" style="min-height:300px;">
        <img src="{% static 'images/pro10.jpg' %}" style="min-height:450px;width:430px;"/>
    </div>

    <div class="col-sm-8 " style="min-height:100px;">
        <div class="h3 pt-3 text-center text-danger">About Us</b></div>
        <br/><br/>
        <p style="text-align:justify; margin: 0px 40px;">
           Ayodhya is a city situated on the banks of the Sarayu river in the Indian state of Uttar Pradesh. It is the administrative headquarters of the Ayodhya 
            district as well as the Ayodhya division of Uttar Pradesh, India. Ayodhya was historically known as Saketa
            Ayodhya is a city situated on the banks of holy river Saryu. In the Indian state of Uttar Pradesh, It is the headquarter of Ayodhya District and Ayodhya division. Ayodhya, also known as Saket, is an ancient city of India, is the birthplace of Bhagwan Shri Ram and setting of the great epic Ramayana.  Ayodhya used to be the capital of the ancient Kosala Kingdom. It has an average elevation of 93 meters (305 feet).
Owing to the belief as the birthplace of Bhagwan Shri Ram, Ayodhya (Awadhpuri) has been regarded as first one of the seven most important pilgrimage sites (Mokshdayini Sapt Puris) for Hindus.

District at a Glance.
<ul>
   <li> Population: 24,70,996</li>
   <li> Language: Awadhi</li>
   <li> Villages: 1,272</li>
    <li>Male: 12,59,628</li>
   <li> Area: 2,522 Sq. Km.</li>
</ul>
       

        </p>


    </div>
</div>


</div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10   py-3" style="min-height:200px;background:#ffffff;">
        <div class="h3 text-center text-success" style="font-weight:bold;"> Why Choose Ayodhya Darsan</div>
        <br/>
        <p style="color:gray;">The <b class="text-warning">AYODHYA DARSAN</b> connects global travelers to local experts
            in India who are operating trips professionally
            from years and have the best service delivery record. Also, our community members who have
            traveled extensively will help you with authentic experiences to make your trip memorable. Get the right
            advice from professionals free of cost
            as well as chat with the community members to book your trip confidently.</p>
      
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="col-sm-12  text-center h3 text-success" style="min-height:50px; font-weight:bold;background:#ffffff;"><b
            class="text-danger">Benifits</b> Of Planning Trip With Us
    </div>
</div>

<div class="row py-3">
    <div class="col-sm-1 "></div>
    <div class="col-sm-10 " style="min-height:300px;">
        <div class="row">
            <div class="col-sm-5 bg-info py-2" style="min-height:300px;border-radius:10px; ">
                <img src="{% static 'images/first.jpg' %}" class="img-thumbnail " style="height:300px; width:450px;"/>

            </div>
            <div class="col-sm-7 " style="min-height:300px;background:#ffffff;">
              <div class="h5 px-5 pt-3 text-warning"><b class="text-danger">Organized Itinerary</b> - Handpicked curated plans & experiences for
                    you
                </div>
                <br/>
                <p class="px-5" style="color:gray;">
                <p class="px-5" style="color:gray;"> 😀 Well researched trip plans by Indian local experts will help you
                    save your time!</p>
                <p class="px-5" style="line-height:1px;color:gray;">When, how & what to do? Read our blog to
                    discover</p>
                <p class="px-5 " style="color:gray;"> When, how & what to do? Read our blog to discover </p>


            </div>
        </div>

    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row py-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 " style="min-height:300px; background:#ffffff;">
        <div class="row">

            <div class="col-sm-7  " style="min-height:300px; background:#ffffff;">
                <div class="h5 text-center py-3 text-success"><b class="text-danger">Chat</b> - Ask local experts &
                    community
                </div>
                <br/>
                <p class="px-5" style="color:gray;">😀Local experts are the ones who know the destinations well</p>
                <p class="px-5" style="line-height:1px; color:gray;">Get professional advice (minimum travel time &
                    optimize cost)</p>
                <p class="px-5" style="color:gray;">Ask community members</p>
                <p class="px-5" style="line-height:1px; color:gray;">Get customization in real-time</p>
            </div>
            <div class="col-sm-5 bg-info py-2 " style="border-radius:10px; ">
                <img src="{% static 'images/secblock.jpg' %}" class="img-thumbnail" style="height:300px;width:450px;"/>
            </div>
        </div>

    </div>
    <div class="col-sm-1"></div>
</div>



   
    <div class="col-sm-12" style="min-height:300px; background:#ffffff;">
        <div class="row">

            
            <div class="col-sm-12 ">
              <div class="h5 text-center py-3 text-success"><b class="text-danger">Trust </b>- Book with complete assurance</div>
                <br/>
                <p class="px-5" style="color:gray; ">😀 Stringent selection criteria of local experts</p>
                <p class="px-5" style=" color:gray;">On ground 24X7 support by us</p>
                <p class="px-5" style="color:gray;">If you are not happy with our guaranteed experience, we will give a
                    full refund!</p>

            </div>
        </div>

    </div>
    <div class="col-sm-12"></div>
</div>




{% endblock %}